VITE_SUPABASE_URL=https://frjuahxpcpavdzosvvru.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_luaZ0IPC9T9nU1vp08jwUQ__-yFeR6H
# If your project uses an anon key instead, use this line instead:
# VITE_SUPABASE_ANON_KEY=your-anon-key

